.my-img {
    height: 300px;
    width: 300px;
    margin: 13px;
    border-radius: 50%;
    border: 2px solid orange;
}

.my-section {
    display: flex;
    flex-direction: row;
}

.my-intro {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}